
/* PAGE */
.ContentPage {
    margin-top: 75px;
}

/* LOADER */
.ContentPageSpinner {
    margin-top: 120px;
}

/* SIZE SCREEN RULES */
@media only screen and (max-width: 990px) {
    .ContentPageHR {
        display: none;
    }    
}